* {  margin: 0;  padding: 0; }
ul { list-style-type:none; }

/* ---------------- Aslett clearing method ------------------------------------------ */
.clearfix { clear:both; }
.clearfix:after { clear: both; content: " ";  display: block; font-size: 0; height: 0; visibility: hidden;}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body { background:url("http://mediacdn.shopatron.com/media/mfg/111/design_content/0/noise_bg.png"); font-family:Verdana, Helvetica, Arial, sans-serif; font-size:0.8em; margin:0;}
.wrapper { margin:0 auto;  overflow:hidden; width:980px;}
#main_wrapper { background:#fff; border:0; box-shadow:0px 2px 4px #333; margin:10px auto; }
#inner_wrapper { overflow:hidden; padding:15px; }
a { color:#333; text-decoration:none; }
.invisible { visibility:invisible; }
.full_width { clear:both; width:100%; }
.left { float:left; }
.right { float:right; }

@media (max-width: 768px) { 
    .col > div { padding-left:0 !important;}
}

h1 {  }
h2 { background:#333; color:#dedede; font-size:1.3em; line-height:2em; padding:3px; }
h3 {}
h4 {}

#page_content { float:left; }

/* ----- Buttons ----- */
/* ------------------- */
.btn {background-color: #F5F5F5; background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2; border-image: none; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);color: #333333; cursor: pointer; display: inline-block; font-size: 14px; line-height: 20px; margin-bottom: 0; padding: 4px 12px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle;
}
.btn.primary { background-color:#B30000; background-image: linear-gradient(to bottom, #d40000, #9C0202); border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color:#fff; }

/* ----- Form Elements ----- */
/* ------------------------- */
select, textarea, input[type="text"] { border:1px solid #ccc; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); color: #555555; display: inline-block; font-size: 14px; height: 20px; line-height: 20px; margin-bottom: 10px; padding: 4px 6px; transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s; vertical-align: middle;} 
select:focus, textarea:focus, input[type="text"]:focus {outline-width: 0; }
select { height:30px; line-height:30px; }

/* ----- Highlight Area ----- */
/* -------------------------- */
.highlight { background:#f2f2f2; border:3px solid #fff; border-radius:0px;}
    .highlight .highlight_content { padding:15px; }
.shadow { box-shadow: 0 0 2px #333333; }

/* ----- Header ----- */
/* ------------------ */
#header_container { background:#000; }
#header { border:0; overflow:hidden; padding:10px 0; }
#logo { color:#fff;}

#nav_container { background:#333; border-bottom:1px solid #000; height:34px; overflow:visible;  }
#main_nav { margin:0 auto; position:relative; overflow:visible;}
#product_nav { float:left; overflow:hidden; }


#content_nav { float:right; overflow:hidden; position:absolute; right:10px; top:-50px; }
#content_nav > li { float:left; }
#content_nav > li a { border-left:1px solid #777; border-right:1px solid #000;  color:#dedede; text-decoration:none; }

#search {float:right; position:relative; }
    #search.mobile { float:none; position:initial; right:20px; top:7px; }
    #search input[type="text"] { border:1px solid #ccc; border-radius: 20px; padding:5px 10px; }
    #search.mobile input[type="text"] { left: 0; position:absolute; top:87px; }
    #search #search_toggle { color: #dedede; line-height:29px; position:absolute; right:70px; }

@media (max-width: 480px) {
    #search input[type="text"] { display:none; float: left; width:94%; }
}

.fixed_top { box-shadow: 0 2px 5px #000;  left:0; position:fixed; top:0; width:100%; }

/* ----- Dropdown ----- */
/* -------------------- */
.h_nav > li { padding:3px 15px; }
.h_nav > li > ul { width: 100%; }
.h_nav > li > ul > li {  float:left; line-height:1; }
.h_nav > li a { border-left:1px solid #777; border-right:1px solid #000;color:#dedede; display:block; padding: 3px 15px; text-decoration:none; }
.h_nav > li a:hover { background:#666; }

@media (max-width: 940px) {
    #main_nav { position:inherit; }
    #nav_container { height: auto; }
    #product_nav { margin-top:0; }
    #content_nav { position:inherit; right:auto; top:0;}
    .h_nav > li > ul { background:#333; display:none; left:0; position:absolute; width:100%; z-index:100;}
    .h_nav > li:hover > ul { display:block; }
    .h_nav > li > ul > li { border-bottom:1px solid #000; border-top:1px solid #666; float:none;  padding:0; }
    .h_nav > li > ul > li a { display:block; padding:10px; }
    .h_nav > li > ul > li a:hover { background:#666; }
}



/* ----- Sidebar ----- */
/* ------------------- */
.sidebar { background:#333; float:left; margin-right:15px; width:180px;}
    .sidebar h2 { background:#000; color:#dedede; padding:5px 10px; }
    .sidebar ul { }
    .sidebar li { }
    .sidebar ul a { border-bottom:1px solid #000; border-top:1px solid #666; color:#dedede; display:block; padding:5px 10px;}
    .sidebar ul a:hover { background:#666; }
    .sidebar .sidebar_toggle { background:#333; border-bottom-right-radius:10px; border-top-right-radius:10px; font-size:14px; height:25px; line-height:25px; position:absolute; right:-25px; text-align:center; top:50%; width:25px; }
    .sidebar .sidebar_toggle a { color:#dedede; }
   
/* ----- Listing ----- */
/* ------------------- */ 
.list_item { background:#fff; border:0px solid #333; float:left;}
.listing_image { line-height:0; text-align:center; }
.list_item img { max-width:100%;}

/* ----- Product ----- */
/* ------------------- */ 
#main_image { }
#main_image img { max-width:100%; }

#product_detail > div { padding:0 0 0 15px; }

#desktop_atc { margin-bottom:20px; }

#phone_atc { background:#333; color:#dedede; margin-bottom:10px;}
    #phone_atc > div { padding:10px; }
    #phone_atc .phone_atc_data { display:none; }
    
.additional_image { line-height:0; }
.availability, .item_number { color:#aaa; font-size:0.7em; padding:5px 0; text-transform:uppercase;}